
<div class="col-auto col-lg-3">
    <div class="gallery_item">
        <div class="gallery_item_header">
            <div class="row">
                <div class="col-8">
                    <div class="gallery_item_text">
                        <h4 class="gallery_item_title"></h4>
                        <p class="gallery_item_subtitle"></p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="gallery_item__date">
                        <h4 class="gallery_item_mouth"></h4>
                        <p class="gallery_item_day"></p>
                    </div>
                </div>
            </div>
        </div>

        <img src="" alt="Image" class="gallery_image">

        <div class="gallery_item_footer">
            <div class="row">
                <div class="col-8">
                    <div class="gallery_item_answer">
                        <span class="gallery_item_like">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <span class="gallery_item_like_count"></span>
                        </span>
                        <span class="gallery_item_comments">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <span class="gallery_item_comments_count"></span>
                        </span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="open_full_btn"></div>
                </div>
            </div>
        </div>
    </div>
</div>