
<div class="post">
    <div class="row">
        <div class="col-10">
            <article class="post_content">
                <header class="row post_header">
                    <div class="col-12 col-sm-8">
                        <div class="row">
                            <div class="col-7 col-sm-9">
                                <span class="post_categories"></span>
                            </div>
                            <div class="col-5 col-sm-3">
                                <span class="post_date"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a href="#" class="post_title_link">
                                    <h2 class="post_title"></h2>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-10 col-sm-4">
                        <p class="post_read">
                            <span class="post_read_time"></span>
                            <i class="fa fa-bookmark" aria-hidden="true"></i>
                        </p>
                    </div>
                </header>

                <div class="row no-gutters justify-content-center post_content">
                    <div class="col-12 col-lg-5">
                        <figure class="post_image_block">
                            <img src="" alt="City" class="post_image">

                            <figcaption class="post_image_signature">
                                <span class="post_image_text"></span>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-12 col-lg-7">
                        <p class="post_text"></p>

                        <p class="post_subtext"></p>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-2">
            <div class="post_info">
                <div class="post_author">
                    <h3 class="post_author_header">Author</h3>
                    <h4 class="post_author_name"></h4>
                    <div class="author_info">
                        <img src="" alt="Author" class="post_author_image">

                        <div class="author_soc_network">
                            <ul class="author_soc_list">
                                <li class="author_soc_item">
                                    <a href="https://twitter.com" class="author_soc_link" target="_blank">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="author_soc_item">
                                    <a href="https://dribbble.com" class="author_soc_link" target="_blank">
                                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="author_soc_item">
                                    <a href="https://www.behance.net" class="author_soc_link" target="_blank">
                                        <i class="fa fa-behance-square" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="social_network">
                    <ul class="social_network_list">
                        <li class="social_network_item">
                            <a href="https://www.instagram.com" target="_blank" class="social_network_link">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="social_network_item">
                            <a href="https://facebook.com" target="_blank" class="social_network_link">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="social_network_item">
                            <a href="https://twitter.com" target="_blank" class="social_network_link">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="social_network_item">
                            <a href="https://plus.google.com" target="_blank" class="social_network_link">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>