<div class="social_icons">
    <ul class="social_icons_list">
        <li class="social_icons_item">
            <a href="https://dribbble.com" class="social_icons_link" target="_blank">
                <i class="fa fa-dribbble" aria-hidden="true"></i>
            </a>
        </li>
        <li class="social_icons_item">
            <a href="https://twitter.com" class="social_icons_link" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
        <li class="social_icons_item">
            <a href="https://www.behance.net" class="social_icons_link" target="_blank">
                <i class="fa fa-behance-square" aria-hidden="true"></i>
            </a>
        </li>
        <li class="social_icons_item">
            <a href="https://vimeo.com" class="social_icons_link" target="_blank">
                <i class="fa fa-vimeo-square" aria-hidden="true"></i>
            </a>
        </li>
        <li class="social_icons_item">
            <a href="https://www.flickr.com" class="social_icons_link" target="_blank">
                <i class="fa fa-flickr" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</div>