@import "../../variables";

.subscribe_section {
  @include flex_structure(column, flex-start, center);
  background: $subscribeFormBackground;
  margin-top: 30px;
  padding: 46px 0;

  .subscribe_header {
    .subscribe_header_img {}

    .subscribe_header_text {
      text-align: center;
      margin: 17px 0 35px 0;
    }
  }

  .form_subscribe {
    @include flex_structure(column, flex-start, center);
    position: relative;
    width: 100%;

    .subscribe_group{
      width: 80%;

      .subscribe_input {
        @extend .input_style;
        width: 100%;
        margin-bottom: 20px;
      }
    }

    .subscribe_submit {
      @extend .button_style;
    }
  }
}