@import "../../variables";

.subscribe {
  margin-top: 35px;
}

.infoPanel {
  position: absolute;
  width: 130px;
  height: 35px;
  background: $subscribeInfoPanelBackground;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 8px 0;
  text-align: center;
}

@import "contactForm";
@import "subscribeForm";
@import "randomPost";