
<header class="row justify-content-center header">
    <div class="col-auto col-sm-6 col-md-5 col-lg-4">
        //= ../elements/socialIcons.html
    </div>

    <div class="col-12 col-sm-4">
        <div class="logotype">
            <img src="img/logotype/logo-black.png" alt="BLACK & WHITE" class="logo_img">
        </div>
    </div>

    <div class="col-auto col-sm-2 col-md-3 col-lg-4">
        <nav class="header_menu">
            //= ../elements/menu.html
        </nav>
    </div>
</header>